$desktop-header-height: 80px;
$mobile-header-height: 50px;
$first-tablet-breakpoint: 720px;
$desktop-breakpoint: 1200px;

$color-font-primary: #410b13;
$color-danger: #ff5964;
$color-primary: #ffc947;
$color-white: #fafaff;

$title-font: 3rem;
$subtitle-font: 2rem;
$paragraph-font: 1rem;

@import "./mixins.scss";
@import "./keyframes.scss";
@import "./header.scss";
@import "./banner.scss";
@import "./button.scss";

html {
  font-size: 1.1rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Red Hat Display", sans-serif;
  color: $color-font-primary;
  background-image: $color-white;
}

button {
  font-family: inherit;
}

// https://coolors.co/ffc947-410b13-ff5964-08b2e3-62a87c-fafaff colors
