$first-tablet-breakpoint: 720px;
$desktop-breakpoint: 1200px;

$black-shadow: rgba(10, 25, 40, 0.1);

$color-font-primary: #0a1931;
$color-primary-shade-analogous: #ff477d;
$color-primary: #ffc947;
$color-primary-light: #ffdf94;
$color-primary-shade: #fab000;
$color-secondary: #5387ec;
$color-danger: #ff4c80;
$color-white: #fff;
$color-white_opacity: rgba($color-white, 0.1);

$title-font: 3rem;
$subtitle-font: 2rem;
$paragraph-font: 1rem;

@import "./mixins.scss";
@import "./keyframes.scss";
@import "./header.scss";
@import "./button.scss";

html {
  font-size: 1.1rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Red Hat Display", sans-serif;
  color: $color-font-primary;
  background-image: $color-white;
}

button {
  font-family: inherit;
}
