.banner {
  height: calc(100vh - #{$mobile-header-height});
  position: relative;
  overflow: hidden;

  background: $color-primary;
  background: radial-gradient(circle, $color-primary 50%, $color-danger 100%);

  @include respond(tablet) {
    height: calc(100vh - #{$desktop-header-height});
  }

  @include flex(column, center, center);

  &__containt {
    text-align: center;
    z-index: 1;
  }

  &__title {
    font-size: 1.5rem;
    font-family: "Press Start 2P", cursive;
    text-transform: uppercase;
    color: $color-font-primary;
    margin: 0;

    @include respond(tablet) {
      font-size: 3.5rem;
    }

    @include respond(desktop) {
      font-size: 5rem;
    }
  }

  &__subtitle {
    font-size: 0.8rem;
    font-family: "Press Start 2P", cursive;
    text-transform: uppercase;
    color: $color-white;
    margin: 0;
    margin-top: 1rem;

    @include respond(tablet) {
      font-size: 1.8rem;
    }

    @include respond(desktop) {
      font-size: 2.6rem;
    }
  }
}
