.button {
  all: unset;
  padding: 0.4em 0.8em 0.6em 0.6em;
  width: 100%;
  min-height: 46px;
  overflow: hidden;
  position: relative;

  text-decoration: none;
  text-transform: uppercase;
  color: $color-font-primary;
  font-size: $paragraph-font;
  font-weight: 900;
  text-align: center;

  background-color: $color-white;
  border: 1px solid $color-font-primary;
  border-radius: 5px;

  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.5s;

  &:after {
    content: "";
    display: block;
    height: 7px;
    width: 100%;
    background-image: repeating-linear-gradient(
      45deg,
      $color-font-primary,
      $color-font-primary 1px,
      transparent 2px,
      transparent 5px
    );
    border-top: 1px solid $color-font-primary;
    position: absolute;
    left: 0;
    bottom: 0;
    background-size: 7px 7px;

    transition: all 0.1s;
  }

  &:hover {
    letter-spacing: 3px;
    background-color: $color-primary;
    &:after {
      animation: background-movement 6s infinite linear forwards;
    }
  }

  &:active {
    transition: all 0.1s ease;

    padding: 0.6em;
    transform: translateY(0.25em);

    &:after {
      height: 2px;
      animation: background-movement 1s infinite linear forwards;
    }
  }

  &--secondary {
    &:hover {
    }
  }

  &--danger {
    &:hover {
    }
  }
}
