.header {
  min-height: 100vh;

  @include flex(row, center, center);

  background-color: $color-primary-light;
}

@media only screen and (min-width: $first-tablet-breakpoint) {
  .header {
    min-height: 40vh;
  }
}
