@mixin flex(
  $direction: null,
  $justifyContent: null,
  $alignItems: null,
  $gap: null
) {
  display: flex;
  @if ($direction) {
    justify-content: $justifyContent;
  }
  @if ($alignItems) {
    align-items: $alignItems;
  }
  @if ($direction) {
    flex-direction: $direction;
  }
  @if ($gap) {
    gap: $gap;
  }
}

@mixin respond($breakpoint) {
  // all mobile goes first above all other media queries
  // after -- all media queries go in ascending order
  @if ($breakpoint == tablet) {
    @media (min-width: $first-tablet-breakpoint) {
      @content;
    }
  }
  @if ($breakpoint == desktop) {
    @media (min-width: $desktop-breakpoint) {
      @content;
    }
  }
}
